html {
  font-family: Skia, sans-serif;
  background-color: #BBBBBB;
}

#header {
  overflow: hidden;
  width: 100%;
}
.header {
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.relative {
  position:relative;
}
